beautifulsoup4
luigi
elasticsearch-dsl==8.15.4
requests
dash==2.18.1
pandas>=2.2.1
dash-bootstrap-components
gunicorn
sqlalchemy>=2.0.27
redis
colour
musicbrainzngs
flask_caching
spotipy>=2.24.0
mysql-connector-python
python-dotenv
psycopg[binary,pool]
duckdb
git+https://github.com/jasonmotylinski/rawkit-playlist.git#egg=rawkit_playlist