beautifulsoup4
luigi
elasticsearch-dsl==8.16.0
requests
dash==2.15.0
pandas>=2.2.1
dash-bootstrap-components==1.6.0
gunicorn==23.0.0
sqlalchemy>=2.0.27
redis==5.2.0
colour
musicbrainzngs
flask_caching==2.3.0
spotipy>=2.24.0
mysql-connector-python
python-dotenv
psycopg[binary,pool]
duckdb==1.1.2
pytz
git+https://github.com/jasonmotylinski/rawkit-playlist.git#egg=rawkit_playlist