<!-- Footer -->
<div class="row mt-4">
    <div class="col-12 text-center">
        <div>Developed by <a href="https://jason.motylinski.com">Jason Motylinski</a></div>
        <div>Data last updated: ${ lastUpdated }</div>
        <div><a href="https://huggingface.co/datasets/jasonmotylinski/89.3TheCurrentPlaylists">Data available on HuggingFace</a></div>
        <div>Rawk-it is in no way affiliated with the radio stations referenced.</div>
        <div>Made with ❤️ for good music and the people who curate it.</div>
    </div>
</div>
