.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    background-color: #000000;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content {
    padding-left: 60px;
}

.nav-link {
    color: #333;
    padding: .5rem 1rem;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #007bff;
}

.button-style {
}

.button-style-wfuv img {
    background-color: #fff;
}

.popular-songs-table > :not(caption) > * > * { 
    border-bottom-width: 0px;
} 